@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: all;
}

@custom-variant dark (&:where(.dark, .dark *));
@media print {
  body {
    -webkit-print-color-adjust: exact;
    font-size: 10pt;
    margin: 10mm;
  }

  .table-container {
    width: 100% !important;
    max-height: none !important;
    overflow: visible !important;
    transform: none !important;
  }

  table {
    width: 100% !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border: 1px solid #302e2e !important;
  }

  th,
  td {
    border: 0.5px solid #302e2e !important;
    padding: 4px 6px;
    text-align: center;
    white-space: nowrap;
    background-color: white !important;
    color: black !important;
  }
  th {
    background-color: #f0f0f0;
  }
  th.sticky,
  td.sticky {
    position: static !important;
    left: auto !important;
    z-index: auto !important;
    background: transparent !important; /* optional: or set a light bg */
  }
  input[type="checkbox"] {
    all: revert !important; /* reset all custom styles */
    -webkit-appearance: checkbox; /* Safari/Chrome */
    appearance: checkbox; /* Modern browsers */
    width: 12px; /* optional: increase size for print */
    height: 12px; /* optional: increase size for print */
    margin: 0; /* remove spacing added by Tailwind */
  }
  .no-print {
    display: none;
  }

  @page {
    size: A4 landscape;
    margin: 10mm;
  }
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
